main {
    padding-top: 100px;
}

main .row {
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: orange;
    border-bottom: 1px solid orange;
    font-size: 10px;
}

.logo {
    display: inline-block;
    border-radius: 100%;
    font-weight: 800;
}

figure {
    margin: 0;
}

img.resize {
    width: 100%;
}